body {
  padding: 0 50px;
  background-color: #f4f4f4;
  font-family: source-sans-pro, sans-serif;
}

/* Removes defualt blurry focus ring */
:focus {
  outline-color: transparent;
  outline-style: none;
}

.title {
  letter-spacing: -.065em;
}

.spacer {
  padding: 25px 0;
}


/* Add all Topcoat specific styles */
.topcoat-button {
  padding: 0 1.25rem;
  font-size: 16px;
  /* vertically center button text */
  line-height: 2rem;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #454545;
  text-shadow: 0 1px #fff;
  background-color: #e5e9e8;
  -webkit-box-shadow: inset 0 1px #fff;
  box-shadow: inset 0 1px #fff;
  border: 1px solid #a5a8a8;
}

.topcoat-button:active,
.topcoat-button.is-active {
  background-color: #404141;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
  box-shadow: inset 0 1px rgba(0,0,0,0.18);
}

.topcoat-button:active,
.topcoat-button.is-active {
  background-color: #d3d7d7;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}

.topcoat-button:disabled,
.topcoat-button.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.topcoat-text-input--large {
  line-height: 1.688rem;
  font-size: 0.875rem;
}

.topcoat-text-input--large:disabled {
  color: #fff;
}

.topcoat-text-input--large:disabled::-webkit-input-placeholder {
  color: #fff;
}

.topcoat-text-input--large:disabled::-moz-placeholder {
  color: #fff;
}

.topcoat-text-input--large:disabled:-ms-input-placeholder {
  color: #fff;
}

.topcoat-text-input--large:invalid {
  border: 1px solid #ec514e;
}


.textarea,
.topcoat-textarea,
.topcoat-textarea--large {
  font-size: 1.2rem;
  line-height: 1.5rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  color: inherit;
  border: 1px solid #a5a8a8;
  vertical-align: top;
  resize: none;
  outline: none;
}

.textarea:disabled,
.topcoat-textarea:disabled,
.topcoat-textarea--large:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}